.habilidades {
    background: var(--background-secundario);
    padding: 4.5rem 0 5rem 0;

    .divisao-texto {
        text-align: center;

        .titulo {
            font-weight: bold;
            font-size: 1.95rem;
        }

        .subtitulo {
            color: var(--texto-secundario);
            margin: -0.5rem 0 0 0;
        }
    }

    .divisao-linguagem {
        @include display-flex(true, true, true);
        margin: 3rem 0 0 0;

        .card {
            background: var(--background-primario);
            border-radius: 0.5rem;
            margin: 1rem;
            padding: 1.5rem 1rem 1rem 1rem;
            text-align: center;
            width: 11rem;
            cursor: pointer;
            height: auto;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            
            .icone-linguagem {
                font-size: 6rem;
                border: none;
            }

            .icone-linguagem:hover {
                box-shadow: none;
            }

            .nome {
                font-size: 1.25rem;
                font-weight: bold;
                color: var(--texto-primario);
            }

            .botao-linguagem {
                background: transparent;
                border: none;
                margin: 3rem 0 0.5rem 0;
                cursor: pointer;
                width: 100%;
            }

            .seta-linguagem {
                color: var(--background-secundario);
                font-size: 1.5rem;
            }

            .resumo {
                color: var(--texto-secundario);
                font-weight: 500;
                font-size: 0.92rem;
                overflow: hidden;
                opacity: 0;
                max-height: 0;
                transition: 0.5s;
            }

            .resumo.resumoOpen {
                opacity: 1;
                max-height: 200px;
            }
        }

        .html {
            border: 1px solid map-get($linguagens, html);
            color: map-get($linguagens, html);
        }

        .html:hover {
            box-shadow: #e44c2228 0px 2px 4px 0px, #e44c2228 0px 2px 16px 0px;
        }

        .css {
            border: 1px solid map-get($linguagens, css);
            color: map-get($linguagens, css);
        }

        .css:hover {
            box-shadow: #2552e828 0px 2px 4px 0px, #2552e828 0px 2px 16px 0px;
        }

        .sass {
            border: 1px solid map-get($linguagens, sass);
            color: map-get($linguagens, sass);
        }

        .sass:hover {
            box-shadow: #cc649b28 0px 2px 4px 0px, #cc649b28 0px 2px 16px 0px;
        }

        .javascript {
            border: 1px solid map-get($linguagens, javascript);
            color: map-get($linguagens, javascript);
        }

        .javascript:hover {
            box-shadow: #f3e31b28 0px 2px 4px 0px, #f3e31b28 0px 2px 16px 0px;
        }

        .python {
            border: 1px solid map-get($linguagens, python);
            color: map-get($linguagens, python);
        }

        .python:hover {
            box-shadow: #3474a628 0px 2px 4px 0px, #3474a628 0px 2px 16px 0px;
        }
    }
}